# Browser: chromium | chrome | msedge | firefox
BROWSER=chromium

# Cache settings
CACHE_MAX_SIZE=2199023255552
CACHE_MAX_AGE=86400000
CACHE_DIR=data/cdn-cache

# Debug level: 0=off 1=error 2=warn 3=info 4=debug
DEBUG_LEVEL=0
